.product13 {
  display: flex;
  padding: 10px;
}
.thumbnail {
  max-width: 300px;
  width: 100%;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}
.product13 .price {
  font-size: 16px;
  font-weight: 600;
}
.product13 .title {
  font-size: 17px;
  font-weight: 600;
}
.product13 .date {
  color: grey;
  font-size: 13px;
}
html, body {
  height: 100%
}

#wrap {
  min-height: 90%;
  position: relative;
  padding-bottom: 70px;
}

footer {
  position: relative;
  transform: translatY(-100%);
}

footer h4 {
  font-size: 20px;
  font-weight: 700;
  color: #8d99af;
  margin-bottom: 30px;
}

footer p,
footer a {
  color: #2a2a2a;
}

footer .logo img {
  max-width: 163px;
  margin-bottom: 30px;
}

footer .helpful-links {
  margin: 0px 45px;
}

footer .helpful-links ul li {
  display: block;
  margin-bottom: 15px;
}

footer .helpful-links ul li a {
  font-size: 15px;
  transition: all .3s;
}

footer .helpful-links ul li a:hover {
  color: #8d99af;
  border-bottom: 1px solid #8d99af;
}

footer .contact-us p {
  margin-bottom: 25px;
}

footer .contact-us a {
  transition: all .3s;
}

footer .contact-us a:hover {
  color: #8d99af;
  border-bottom: 1px solid #8d99af;
}

footer .sub-footer {
  text-align: center;
  margin-top: 40px;
  padding: 40px 0px;
  border-top: 1px solid #eee;
}